@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";

@config "../../tailwind.config.js";

@layer base {
  body {
    @apply bg-gray-950 text-gray-100 font-sans antialiased;
  }
}
